<meta property="og:url" content="https://python.cyscorpions.com">
<meta property="og:type" content="website">
<meta property="og:title" content="KLab Cyscorpions Python Course">
<meta property="og:image" content="http://cyscorpions.com/img/news/klabcyspythoncourse/newsscreenshot1.jpg">
<meta property="og:description" content="KLab Cyscorpions Python Course Notebooks">
<meta property="og:site_name" content="KLab Cyscorpions Python Course">
<meta property="og:locale" content="en_US">
<meta property="article:author" content="KLab Cyscorpions">