<!--Footer-->
<div class="notebook_footer">
    <div class="row">

    <div class="large-8 columns footerMenu">
        <ul id="footerNav">
            <li><a href="http://python.cyscorpions.com" target="_blank">Courses</a></li>
            <li><a href="https://github.com/KLabCyscorpions/python-course" target="_blank">Github</a></li>
            <li><a href="https://www.facebook.com/Cyscorpions" target="_blank">Facebook</a></li>
            <li><a href="https://twitter.com/klabcyscorpions" target="_blank">Twitter</a></li>
            <li><a href="https://instagram.com/klabcyscorpions/" target="_blank">Instagram</a></li>
            <li><a href="http://www.cyscorpions.com" target="_blank">KLab Cyscorpions</a></li>
        </ul>
    </div>

    <div class="large-3 columns copyright">
        <p> 
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" height='17' width='80'/></a>
            | © 2016 KLab Cyscorpions, Inc.  
        </p>
    </div>

    <div class="large-3 columns">
    <div class="powered by">

    {% block jup_logo %} 
        <a href ='/'></a>
    {% endblock %}

    </div>  
    </div>

    </div>
</div>